VITE_GOOGLE_CLIENT_ID=
VITE_ENABLE_DEV_LOGIN=false

VITE_FIREBASE_PROJECT_ID=roomonapp
VITE_FIREBASE_AUTH_DOMAIN=roomonapp.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=roomonapp.appspot.com
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
